<div>
  <h2 align=center>Herzlich Willkommen bei der IHK Flensburg</h2>
  <div *ngFor="let landing of landings;let i=index" style="padding-bottom:10px" >
    <img src={{landing.img}}  alignt:center style="width:100%; margin-bottom:20px"  >
    
    <p>{{landing.bericht}}</p>
    <button *ngIf="login" class="btn btn-default" (click)="landingService.onEdit(i)">Bearbeiten</button> 
    <button *ngIf="login" class="btn btn-default" (click)="landingService.onDelete(i)">Löschen</button>
  </div>
  <div class="col-md-12" *ngIf="login">
    <div class="card mb-4 box-shadow">
      <div class="card-body">
        <table  class="tableberbeiten">
          <tr>
            <td>
              <h3>Informationen hinzufügen</h3>  
            </td>
            <td style="text-align:right">
              <button *ngIf="!landingService.edit" class="btn btn-default" (click)="onAddLanding()">Hinzufügen</button>
              <button *ngIf="landingService.edit" class="btn btn-default" (click)="onEditLanding()">Bearbeiten</button>
            </td>
          </tr>
          <tr>
            <td colspan=2 class="tdhinzu">
              <input type="text" [(ngModel)]="landingService.post.bericht" placeholder="Neue Informationen" class="inputhinzu" >
            </td>
          </tr>
          <tr >
            <td colspan=2 class="tdhinzu">
              <input type="text" [(ngModel)]="landingService.post.img" placeholder="Link zum Bild" class="inputhinzu">
            </td>
          </tr>
        </table>
      </div>
      </div>
  </div>
  
  <div style="padding-top:10px">
    <h4 align=center>
      Die Präsidentin der IHK Flensburg
    </h4>
  </div>
  <div class="col-md-12">
    <div class="card mb-4 box-shadow">
      <div class="card-body">
        <table width=100%>
          <tr>
            <td>Name:</td>
            <th>{{mitglieder[0].name}}</th>
            <td rowspan=5><img src={{mitglieder[0].img}} height=120 align=right></td>
          </tr>
          <tr>
            <td>Position:</td>
            <td>{{mitglieder[0].position}}</td>
          </tr>
          <tr>
            <td>Kontakt:</td>
            <td>{{mitglieder[0].kontakt}}</td>
          </tr>
          <tr>
            <td>E-Mail:</td>
            <td>{{mitglieder[0].email}}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>