<div>
  <div class="col-md-12" *ngIf="login">
    <div class="card mb-4 box-shadow">
      <div class="card-body">
        <table  class="tableberbeiten">
          <tr>
            <td>
              <h3>Neues Buch hinzufügen</h3>  
            </td>
            <td style="text-align:right">
              <button *ngIf="!buchService.edit" class="btn btn-default" (click)="onAddBuch()">Hinzufügen</button>
              <button *ngIf="buchService.edit" class="btn btn-default" (click)="onEditBuch()">Bearbeiten</button>
            </td>
          </tr>
          <tr>
            <td colspan=2 class="tdhinzu">
              <input type="text" [(ngModel)]="buchService.post.titel" placeholder="Titel" style="width:100%" >
            </td>
          </tr>
          <tr >
            <td colspan=2 class="tdhinzu">
              <input type="text" [(ngModel)]="buchService.post.autor" placeholder=Autor style="width:100%">
            </td>
          </tr>
          <tr>
            <td colspan=2 class="tdhinzu">
              <input type="month" [(ngModel)]="buchService.post.jahr"  maxlength=4 placeholder=Veröffentlichung style="width:100%">
            </td>
          </tr>
          <tr>
            <td colspan=2 class="tdhinzu">
              <input type="text" [(ngModel)]="buchService.post.ausgabe" placeholder=Ausgabe style="width:100%">
            </td>
          </tr>
          <tr>
            <td colspan=2 class="tdhinzu">
              <input type="text" [(ngModel)]="buchService.post.verlag" placeholder=Publisher style="width:100%">
            </td>
          </tr>
        </table>
      </div>
      </div>
  </div>
  <h2 align=center>Buchveröffentlichung</h2>
  <div *ngFor="let buch of buecher;let i=index" >
    <div class="col-md-12">
      <div class="card mb-4 box-shadow">
        <div class="card-body">
          <table>
            <tr>
              <th colspan=2 class="tdd">
                {{buch.titel}}
              </th>
            </tr>
            <tr>
              <th class="thtext">Autor/-en:</th>
              <td class="tdtext">{{buch.autor}}</td>
            </tr>
            <tr>
              <th class="thtext">Veröffentlichung:</th>
              <td class="tdtext">{{buch.jahr}}</td>
            </tr>
            <tr>
              <th class="thtext">Ausgabe:</th>
              <td class="tdtext">{{buch.ausgabe}}</td>
            </tr>
            <tr>
              <th class="thtext">Verlag:</th>
              <td class="tdtext">{{buch.verlag}}</td>
            </tr>
            <tr *ngIf="login"  >
              <td colspan=2 style="text-align:right">
                <button *ngIf="login" class="btn btn-default" (click)="buchService.onEdit(i)">bearbeiten</button> 
                <button *ngIf="login" class="btn btn-default" (click)="buchService.onDelete(i)">Löschen</button>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
