<div>
  <div class="col-md-12" *ngIf="login">
    <div class="card mb-4 box-shadow">
      <div class="card-body">
        <table  class="tableberbeiten">
          <tr>
            <td>
              <h3>Neue News hinzufügen</h3>  
            </td>
            <td style="text-align:right">
              <button *ngIf="!newsServicde.edit" class="btn btn-default" (click)="onAddNews()">Hinzufügen</button>
              <button *ngIf="newsServicde.edit" class="btn btn-default" (click)="onEditNews()">Bearbeiten</button>
            </td>
          </tr>
          <tr>
            <td colspan=2 class="tdhinzu">
              <input type="text" [(ngModel)]="newsServicde.post.titel" placeholder="Titel" style="width:100%" >
            </td>
          </tr>
          <tr >
            <td colspan=2 class="tdhinzu">
              <input type="text" [(ngModel)]="newsServicde.post.bericht" placeholder="Bericht" style="width:100%">
            </td>
          </tr>
          <tr>
            <td colspan=2 class="tdhinzu">
              <input type="month" [(ngModel)]="newsServicde.post.datum"  maxlength=10 placeholder="Datum" style="width:100%">
            </td>
          </tr>
          <tr>
            <td colspan=2 class="tdhinzu">
              <input type="text" [(ngModel)]="newsServicde.post.strasse" placeholder="Adresse" style="width:100%">
            </td>
          </tr>
          <tr>
            <td colspan=2 class="tdhinzu">
              <input type="text" [(ngModel)]="newsServicde.post.ort" placeholder="Ort der Veranstaltung" style="width:100%">
            </td>
          </tr>
        </table>
      </div>
      </div>
  </div>
  <h2 align=center>News</h2>
  <div *ngFor="let news of newse;let i=index" >
    <div class="col-md-12">
      <div class="card mb-4 box-shadow">
        <div class="card-body">
          <table>
            <tr>
              <th colspan=2 class="tdd">
                {{news.titel}}
              </th>
            </tr>
            <tr>
              <th class="thtext">Bericht:</th>
              <td class="tdtext">{{news.bericht}}</td>
            </tr>
            <tr>
              <th class="thtext">Datum:</th>
              <td class="tdtext">{{news.datum}}</td>
            </tr>
            <tr>
              <th class="thtext">Straße:</th>
              <td class="tdtext">{{news.strasse}}</td>
            </tr>
            <tr>
              <th class="thtext">Ort:</th>
              <td class="tdtext">{{news.ort}}</td>
            </tr>
            <tr *ngIf="login"  >
              <td colspan=2 style="text-align:right">
                <button *ngIf="login" class="btn btn-default" (click)="newsService.onEdit(i)">bearbeiten</button> 
                <button *ngIf="login" class="btn btn-default" (click)="newsService.onDelete(i)">Löschen</button>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

