<div class="container">
  <h1>Impresum</h1>
  <h4>Die IHK24 Schleswig-Holstein
  ist das offizielle Internet-Angebot der
  Industrie- und Handelskammern zu Flensburg</h4>

  <p>
    Herausgeber:
  </p>
  <p>
    IHK Schleswig-Holstein
  </p>
  <p>
    Bergstraße 2
  </p>
  <p>
    24103 Kiel
  </p>
  <br>
  <h4>IHK Flensburg</h4>
  <p>Heinrichstr. 28–34</p>
  <p>24937 Flensburg</p>
  <p>Die IHK Flensburg wird gemeinsam vertreten durch den Präsidenten Rolf-Ejvind Sörensen und den Hauptgeschäftsführer Björn Ipsen.</p>
  <br>
  <p>Projektleitung: Petra Vogt</p>
  <p>Telefon: 0461 806-806</p>
  <p>Fax: 0461 806-9806</p>
  <p>E-Mail: vogt@flensburg.ihk.de</p>
</div>