<div class="container">
  <h1>
    Datenschutz
  </h1>
  <p>
    Dieses Internetangebot wird von den IHKs Flensburg, zu Kiel und zu Lübeck betrieben. An dieser Stelle informieren wir Sie gemäß § 13 Telemediengesetz über Art, Umfang, Zweck der Verarbeitung personenbezogener Daten sowie über eine etwaige Verarbeitung von Daten in Drittstaaten außerhalb der Europäischen Union. Bitte beachten Sie auch unsere Pflichtinformationen nach DSGVO.
  </p>
  <h3>
    Personenbezogene Daten
  </h3>
  <p>
    Unser Internetauftritt ermöglicht die Eingabe folgender personenbezogener Daten, damit Sie mit uns in Kontakt treten können:
  </p>
  <ul>
    <li>Daten für eine korrekte Ansprache, zum Beispiel: Anrede und Titel </li>
    <li>Personendaten, zum Beispiel: Vor- und Zuname </li>
    <li>Adressinformationen, zum Beispiel: Straße, Postleitzahl und Ort </li>
    <li>Kommunikationsdaten, zum Beispiel: Telefonnummer, Faxnummer oder E-Mail-Adresse Weiterführende Informationen, zum Beispiel: Firma</li>
    <li>Themeninteresse, zum Beispiel: Newsletter oder Veranstaltungen</li>
  </ul>
  <p>
    Im geschützten Login-Bereich für Mitgliedsunternehmen werden zusätzlich folgende Informa-tionen benötigt:
  </p>
  <ul>
    <li>Benutzername</li>
    <li>Passwort</li>
  </ul>
</div>