<div>
  <h2 align=center>Institutsmitglieder</h2>
  <div class="col-md-12" *ngIf="login">
    <div class="card mb-4 box-shadow">
      <div class="card-body">
        <table  class="tableberbeiten">
          <tr>
            <td>
              <h3>Neues Mitglied Hinzufügen</h3>  
            </td>
            <td style="text-align:right">
              <button *ngIf="!mitgliederService.edit" class="btn btn-default" (click)="onAddworker()">Hinzufügen</button>
              <button *ngIf="mitgliederService.edit" class="btn btn-default" (click)="onEditMitarbeiter()">Bearbeiten</button>
            </td>
          </tr>
          <tr>
            <td colspan=2 class="tdhinzu">
              <input type="text" [(ngModel)]="mitgliederService.post.name" placeholder=Name style="width:100%">
            </td>
          </tr>
          <tr >
            <td colspan=2 class="tdhinzu">
              <input type="text" [(ngModel)]="mitgliederService.post.position" placeholder=Position style="width:100%">
            </td>
          </tr>
          <tr>
            <td colspan=2 class="tdhinzu">
              <input type="text" [(ngModel)]="mitgliederService.post.kontakt" placeholder=Kontakt style="width:100%">
            </td>
          </tr>
          <tr>
            <td colspan=2 class="tdhinzu">
              <input type="text" [(ngModel)]="mitgliederService.post.email" placeholder="E-Mail" style="width:100%">
            </td>
          </tr>
          <tr>
            <td colspan=2 class="tdhinzu">
              <input type="text" [(ngModel)]="mitgliederService.post.img" placeholder="Link zum Bild" style="width:100%">
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row">
        <div *ngFor="let mitglied of mitglieder;let i=index" class="card_my" >
          <div class="card" style="width: 20rem;">
            <img src="{{mitglied.img}}" class="card-img-top" alt="bild">
            <div class="card-body">
              <h5 class="card-title">{{mitglied.name}}</h5>
              <p class="card-text">{{mitglied.position}}</p>
              <p class="card-text">{{mitglied.kontakt}}</p>
              <p class="card-text">{{mitglied.email}}</p>
              <button *ngIf="login" class="btn btn-primary" (click)="mitgliederService.onEdit(i)">bearbeiten</button> 
              <button *ngIf="login" class="btn btn-default" (click)="mitgliederService.onDelete(i)">Löschen</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

