<div>
    <h2 align=center>Institutsmitglieder</h2>
    <ul *ngIf="login">
    <li class="list-group-item-action list-group-item">
      <h3>Neues Mitglied Hinzufügen</h3>   
    </li>
    <li class="list-group-item-action list-group-item">
      <input type="text" [(ngModel)]="mitgliederService.post.name" placeholder=Name required minlength="4">
    </li>
    <li class="list-group-item-action list-group-item">
      <input type="text" [(ngModel)]="mitgliederService.post.position" placeholder=Positiom >
    </li>
    <li class="list-group-item-action list-group-item">
      <input type="text" [(ngModel)]="mitgliederService.post.kontakt" placeholder=Kontakt >
    </li>
    <li class="list-group-item-action list-group-item">
      <input type="text" [(ngModel)]="mitgliederService.post.email" placeholder=Mail >
    </li>
        <li class="list-group-item-action list-group-item">
      <input type="text" [(ngModel)]="mitgliederService.post.img" placeholder="Link zum Bild" >
    </li>
    <li class="list-group-item-action list-group-item">
      <button *ngIf="!mitgliederService.edit" class="btn btn-default" (click)="onAddworker()">Hinzufügen</button>
      <button *ngIf="mitgliederService.edit" class="btn btn-default" (click)="onEditMitarbeiter()">bearbeiten</button>
    </li>
  </ul>
  <div class="row">
  <div *ngFor="let mitglied of mitglieder;let i=index" >
        <div class="col-md-12"> 

          <div class="card mb-4 box-shadow">
            <img src={{mitglied.img}} height=120  alignt:center >
            <div class="card-body">
              
            <div class="caption">
              <p>{{mitglied.name}}</p>
              <p>{{mitglied.position}}</p>
              <p>{{mitglied.kontakt}}</p>
              <p>{{mitglied.email}}</p>
              <button *ngIf="login" class="btn btn-primary" (click)="mitgliederService.onEdit(i)">bearbeiten</button> 
              <button *ngIf="login" class="btn btn-default" (click)="mitgliederService.onDelete(i)">Löschen</button>
            </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>

