<div>
  <div class="col-md-12" *ngIf="login">
    <div class="card mb-4 box-shadow">
      <div class="card-body">
        <table  class="tableberbeiten">
          <tr>
            <td>
              <h3>Neues Projekt Hinzufügen</h3>  
            </td>
            <td style="text-align:right">
              <button *ngIf="!projekteService.edit" class="btn btn-default" (click)="onAddProjekt()">Hinzufügen</button>
              <button *ngIf="projekteService.edit" class="btn btn-default" (click)="onEditProjekt()">bearbeiten</button>
              <button *ngIf="projekteService.edit" class="btn btn-default" (click)="onEditBuch()">Bearbeiten</button>
            </td>
          </tr>
          <tr>
            <td colspan=2 class="tdhinzu">
              <input type="text" [(ngModel)]="projekteService.post.titel" placeholder="Titel" style="width:100%" >
            </td>
          </tr>
          <tr >
            <td colspan=2 class="tdhinzu">
              <input type="text" [(ngModel)]="projekteService.post.bericht" placeholder=Bericht style="width:100%">
            </td>
          </tr>
          <tr>
            <td colspan=2 class="tdhinzu">
              <input type="text" [(ngModel)]="projekteService.post.laufzeit" placeholder=Laufzeit style="width:100%">
            </td>
          </tr>
        </table>
      </div>
      </div>
  </div>
  <h2 align=center>Projekte</h2>
  <div *ngFor="let projekt of projekte;let i=index" >
    <div class="col-md-12">
      <div class="card mb-4 box-shadow">
        <div class="card-body">
          <table>
            <tr>
              <th colspan=2 class="tdd">
                {{projekt.titel}}
              </th>
            </tr>
            <tr>
              <th class="thtext">Bericht:</th>
              <td class="tdtext">{{projekt.bericht}}</td>
            </tr>
            <tr>
              <th class="thtext">Laufzeit:</th>
              <td class="tdtext"> {{projekt.laufzeit}}</td>
            </tr>
            <tr *ngIf="login"  >
              <td colspan=2 style="text-align:right">
                <button *ngIf="login" class="btn btn-default" (click)="projekteService.onEdit(i)">bearbeiten</button> 
                <button *ngIf="login" class="btn btn-default" (click)="projekteService.onDelete(i)">Löschen</button>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>

</div>
